# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ide cache
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VScode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# OSX
.DS_Store
.AppleDouble
.LSOverride

# Output files
!output/
output/*

